[Desktop Entry]
Name=RGBPC
Comment=Manage RGB lighting via OpenRGB
Exec=xdg-terminal-exec --app-id=org.omarchy.RGBPC -e rgbpc
Icon=preferences-desktop-theme
Terminal=false
Type=Application
Categories=Utility;Settings;HardwareSettings;
Keywords=rgb;openrgb;omarchy;theme;sync;
